{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card bg-dark border-danger mt-5">
            <div class="card-body">
                <h2 class="text-center text-danger mb-4">Вход</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-red w-100">Войти</button>
                </form>
                <p class="mt-3 text-center">Нет аккаунта? <a href="{% url 'register' %}" class="text-danger">Зарегистрируйся</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}