{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card bg-dark p-4 border-secondary shadow-lg">
            <h2 class="text-white mb-4" style="font-family: 'Syncopate'; font-size: 1.2rem;">Вход в систему</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-cyber w-100">Войти</button>
            </form>
            <div class="form-footer-text text-center mt-3">
                Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйся</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}